.container {
  max-width: 1400px !important;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  outline: none;
  transition: all 0.5s ease 0s;
}

a:hover {
  transition: all 0.5s ease 0s;
}

.loading{
  background: #181A3BCC;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
/* .loading .logo-center{} */
.loading .logo-center img{
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

/* الحركة */
@keyframes spin {
  from { transform: rotate(0deg); }
  to   { transform: rotate(360deg); }
}




body {
  background-color: #F2F2FB;
  font-family: "Noto Kufi Arabic", sans-serif;
  direction: rtl;
  text-align: right;
  color: #101728;
}
/*  */

.area{
    background: #F2F2FB;
    width: 100%;
    height:100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    bottom: -150px;	
    animation: animate 25s linear infinite;
    /* background-color: #ffffff50; */
     background-image: url("../images/logo-li.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100% 100%;
    
}

.circles li:nth-child(1){
    left: 1%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 5%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 78%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 16%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 95%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 92%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 7%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 80%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 86%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(200deg);
        opacity: 0.1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}


/* login */
section {
  padding: 0 0;
}

.login {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: 100vh;
  position: relative;
  z-index: 1;
}

.login .container {
     padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  flex-direction: row-reverse;
  background: rgb(255 255 255 / 60%);
  max-width: 1000px !important;
  direction: rtl;
  z-index: 99;
  border-radius: 10px;
}
/*.login .container > *{*/
/*    z-index: 99;*/
/*     position: relative;*/
/*}*/

.login .container .block {
  padding: 20px ;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.login .container .block>img {
  width: auto;
  height: 39px;
  margin: 0 0 60px;
}

.login .container .block h1 {
  font-size: 32px;
  font-weight: 700;
  margin: 0 0 20px;
}

.login .container .block label {
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  margin: 5px 0;
}

.login .container .block label i {
  color: #B62727;
  margin: 0px;
  font-style: inherit;
}

.text {
  width: 100%;
  height: 56px;
  border: 1px solid #EDEFF0;
  border-radius: 12px;
  padding: 0 50px 0 0;
  background-color: #fff;
  outline: none;
  font-size: 14px;
  font-weight: 400;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: right 20px center;
  margin: 0 0 15px;
}

.text.id {
  background-image: url("../images/login/user.svg");
}

.text.password {
  background-image: url("../images/login/password.svg");
}

.but-login {
  width: 100%;
  height: 52px;
  border: none;
  outline: none;
  margin: 20px 0 0;
  color: #fff;
  transition: all 0.5s ease 0s;
  font-size: 18px;
  font-weight: 700;
  background-image: url("../images/login/but.png");
  background-size: 100% 100%;
  position: relative;
  background-color: inherit;
}

.but-login:hover {
  transition: all 0.5s ease 0s;
  background-image: url("../images/login/buth.png");
}

.but-login::after {
  content: "";
  position: absolute;
  left: 30%;
  top: 2px;
  width: 48px;
  transition: all 0.5s ease 0s;
  height: 48px;
  background-image: url("../images/login/sahemh.svg");
  background-size: 100% 100%;
  display: flex;
  opacity: 0;
}

.but-login:hover::after {
  left: 7px;
  transition: all 0.5s ease 0s;
  opacity: 1;
}

.forget {
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  outline: none;
  text-align: center;
  margin: 20px auto 0;
  display: block;
  color: #000;
  width: 150px;
  padding: 5px 0;
}

.forget:hover {
  color: #D98420;
}

.login .container .block .foot {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid #DCDCEB;
  padding: 25px 0;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0 0;
}

.login .container .block .foot span {
  font-size: 16px;
  font-weight: 400;
  color: #000;
}

.login .container .block .foot a.reg {
  width: 192px;
  height: 40px;
  color: #000;
  padding: 0 20px;
  background-image: url("../images/login/reg.svg");
  background-repeat: no-repeat;
  transition: all 0.5s ease 0s;
  background-size: 100% 40px;
  display: flex;
  align-items: center;
  position: relative;
}

.login .container .block .foot a.reg::after {
  content: "";
  position: absolute;
  top: 4px;
  transition: all 0.5s ease 0s;
  left: 8px;
  width: 32px;
  height: 32px;
  background-image: url("../images/login/sahem.svg");
  background-size: 100% 100%;
}

.login .container .block .foot a.reg:hover {
  transition: all 0.5s ease 0s;
  background-image: url("../images/login/regh.svg");
}

.login .container .block .foot a.reg:hover::after {
  transition: all 0.5s ease 0s;
  background-image: url("../images/login/sahemh.svg");
}

.login .container .block .login-slider {
  position: relative;
}

.login .container .block .login-slider .item {
  padding: 0;
  position: relative;
}

.login .container .block .login-slider .item img {
  width: 100%;
  height: auto;
}

.login .container .block .login-slider .item .des {
  overflow: hidden;
  position: absolute;
  bottom: 60px;
  left: 30px;
  right: 30px;
  /* background-image: url("../images/login/des.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  transition: all 0.5s ease 0s;
  background-size: 100% auto;
  height: 388px; */
  transform: rotateY(90deg);
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px;
}

.login .container .block .login-slider .item .des img {
  width: 100%;
  height: auto;
}

.login .container .block .login-slider .item .des .cover {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20% 45px 0;
}

.login .container .block .login-slider .item .des h3 {
  font-size: 32px;
  opacity: 0;
  font-weight: 700;
  margin: 0 0 10px;
  transform: translateY(40px);
  line-height: 46px;
}

.login .container .block .login-slider .item .des p {
  margin: 0;
  font-size: 24px;
  opacity: 0;
  font-weight: 400;
  transform: translateY(40px);

}

.login .container .block .login-slider .active .item .des {
  transition: all 0.5s ease 0s;
  transition-delay: 0.5s;
  transform: rotateY(0deg);
}

.login .container .block .login-slider .active .item .des h3 {
  transition: all 0.5s ease 0s;
  transition-delay: 1s;
  opacity: 1;
  transform: translateY(0px);
}

.login .container .block .login-slider .active .item .des p {
  transition: all 0.5s ease 0s;
  transition-delay: 1.5s;
  opacity: 1;
  transform: translateY(0px);
}


.owl-dots {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  bottom: 25px;
  left: 10px;
  right: 10px;
  z-index: 9;
  align-items: center;
  justify-content: center;
}

.owl-dots button {
  background: #ffffffa3 !important;
  width: 90px;
  height: 6px;
  border-radius: 6px;
  margin: 0 3px;
}

.owl-dots button.active {
  background: #D98420 !important;
}




/* DASHBORD HOME */
.home {
  padding: 25px 15px;
  min-height: 100vh;
  background-color: #F1F1FA;
  position: relative;
}

.home:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 100vh;
  background: linear-gradient(180deg, #181A3B 0%, #F1F1FA 100%);
  z-index: 2;
}

.home .container {
  width: 100%;
  max-width: 100% !important;
  position: relative;
  z-index: 6;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-start;
  background-color: red;
  padding:5px;
}

.navbar {
  min-height: 48px;
  margin-bottom: 25px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.navbar .box{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.navbar .link{
  height:  48px;
  background-image: url("../images/nav_bg.png");
  background-repeat: repeat-x;
  background-size: auto  48px;
  padding: 0;
  margin: 0 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  min-width: 20px;
}
.navbar .link::before{
  content: "";
  position: absolute;
  top: 0;
  right: -18px;
  width: 20px;
  height: 48px;
  background-image: url("../images/nav_r.png");
  background-size: 100% 100%;
}
.navbar .link::after{
    content: "";
    position: absolute;
    top: 0;
    left: -18px;
    width: 20px;
    height: 48px;
    background-image: url("../images/nav_l.png");
    background-size: 100% 100%;
}
.navbar .link img{
  width: auto;
  height: 28px;
}
.navbar .link ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}
.navbar .link ul li{
  padding: 0;
}
.navbar .link ul li a{
  color: #fff;
  font-weight: 500;
  font-size: 13px;
  text-decoration: none;
  outline: none;
  margin: 0px 4px;
  /* background: #5A5C74; */
  height: 30px;
  display: flex;
  align-items: center;
  padding: 0 12px;
  border-radius: 50px;
  /* border: 1px solid #7B7C90; */
}
.navbar .link ul li a:hover{
  color: #F29220;
}
.navbar .link .welcom{
  display: flex;
  flex-wrap: wrap;
  color: #fff;
  align-items: center;
  padding: 0 0 0 3px;
}
.navbar .link .welcom img{
  margin: 0 -10px 0 10px;
  width: 40px;
  height: 37px;
  /* clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%); */
  clip-path: polygon(20% 0%, 80% 0%, 100% 50%, 80% 100%, 20% 100%, 0% 50%);
}
.navbar a.links{
  display: flex;
  text-decoration: none;
  outline: none;
}
.navbar a.links img{
  width: auto;
  height: 48px;
  margin: 0 3px;
}

/*  */
.sidebar {
  border-radius: 16px;
  padding: 25px;
  background: #fff;
  min-height: auto;
  margin: 0 0 20px 15px;
  flex-shrink: 0;
}
@media (min-width: 768px) {
.sidebar {
  width: 300px !important;
  min-height: auto;
  align-self: flex-start;
}  
}

.sidebar ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sidebar ul li {
  padding: 3px 0;
  display: flex;
  width: 100%;
}

.sidebar ul li a {
  width: 100%;
  transition: all 0.5s ease 0s;
  min-height: 52px;
  display: flex;
  padding: 0;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  color: #5C5E8A;
  text-decoration: none;
  outline: none;
  font-size: 16px;
  font-weight: 500;
}

.sidebar ul li a:hover,
.sidebar ul li a.active {
  background-image: url("../images/hover.png");
  background-size: 100% 100%;
  color: #181A3B;
  transition: all 0.5s ease 0s;
  padding: 0 15px 0 0;
}

.sidebar ul li a i {
  width: 30px;
  height: auto;
  margin: 0 0 0 7px;
}

.sidebar ul li a i img {
  max-width: 24px;
  height: auto;
  margin: 0 auto;
  display: block;
}

/*  */

.content {
  padding: 0 15px 0 0;
  display: flex;
  flex-wrap: wrap;
  margin: -6px 0 0;
  align-content: flex-start;
  min-width: 0;
  box-sizing: border-box;
  flex: 1;
}
.content .rows {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 0 10px;
  width: 100%;
  min-width: 0;
}

.content .block {
  padding: 6px;
  display: block;
}

.content .block .box {
  background: #fff;
  border-radius: 12px;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
}

.content .block .fast {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  min-height: 104px;
  flex-direction: column;
  justify-content: center;
  padding-right: 66px;
}

.content .block .fast i {
  background-image: url("../images/bg-icon.svg");
  background-size: 100% 100%;
  display: flex;
  flex-wrap: wrap;
  width: 48px;
  height: 48px;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -24px;
}

.content .block .fast i img {
  width: 16px;
  height: 16px;
}

.content .block .fast h5 {
  color: #5C5E8A;
  font-weight: 600;
  font-size: 12px;
  margin: 0 0 15px;
}

.content .block .fast h3 {
  color: #333843;
  font-size: 24px;
  font-weight: 500;
  margin: 0;
  display: flex;
  align-items: center;
}
.content .block  h3.center{
  color: #101728;
  font-size: 18px;
  font-weight: 700;
  margin: 14px 0 30px;
  width: 100%;
  text-align: center;
}

.content .block .fast h3 span {
  font-size: 12px;
  color: #0D894F;
  font-weight: 700;
  background: #E7F4EE;
  height: 24px;
  padding: 0 10px;
  border-radius: 30px;
  margin: 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  direction: ltr;
}

.content .block .fast h3 .red {
  color: #890D0D;
  background: #FFE5E5;
}

/*  */
.statistics {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.statistics h3 {
  color: #101728;
  font-size: 18px;
  font-weight: 700;
  margin: 0 0 30px;
  width: 100%;
}
.title{
  color: #101728;
  font-size: 24px;
  font-weight: 700;
  margin: 10px 0 30px;
  width: 100%;
  border-bottom: 1px solid #a2a4c882;
  padding: 0 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title a{
  color: #fff;
  text-decoration: none;
  outline: none;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  background-image: url(../images/but2.png);
  background-size: 100% 40px;
  background-repeat: no-repeat;
  display: flex;
  padding: 0 20px;
  align-items: center;
  justify-content: center;
  direction: ltr;
}
.title a:hover{
  opacity: 0.7;
}

.chart-container {
  padding: 0;
  width: 100%;
}

.chart-title {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
}

.chart-wrapper {
  position: relative;
  height: auto;
  width: 100%;
  margin: 0 0 20px;
}

.chart-legend {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  font-size: 14px;
  gap: 20px;
  flex-direction: row-reverse;
  width: 100%;
  flex-wrap: wrap;
}

.legend-item {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 0;
  padding: 0;
}

.legend-color {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
#collectionChart{
  width: 100% !important;
  height: 195px !important;
}
/*  */
.charts{
  position: relative;
}
.charts canvas{
    width: 154px !important;
    height: 154px !important;
}
.charts h4{
  position: absolute;
  top: 30px;
  left: 30px;
  bottom: 30px;
  right: 30px;
  display: flex;
  flex-wrap: wrap;
  color: #000;
  font-size: 18px;
  font-weight: 700;
  margin: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.charts h4 span{
  color: #667085;
  font-weight: 500;
  font-size: 14px;
}
/*  */

.fast-link{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  z-index: 9;
  padding: 0 0 10px;
}
.fast-link a{
  width: 19%;
  height: 120px;
  border: 1px solid #E5EAF0;
  padding: 60px 20px 20px;
  border-radius: 0 0 20px 20px;
  display: flex;
  background-color: #fff;
  background-image: url("../images/pie.svg");
  background-repeat: no-repeat;
  background-position: center 10px;
  background-size: 32px 32px;
  text-decoration: none;
  outline: none;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  color: #000;
  font-size: 16px;
  font-weight: 700;
  margin: 70px 0 0;
  border-top: none;
  /* z-index: 9; */
  width: 180px;
}
.fast-link a::after{
  content: "";
  position: absolute;
  top: -66px;
  left: -1px;
  right: -1px;
  width: auto;
  height: 190px;
  background-image: url("../images/fast-link.svg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100% auto;
  z-index: -3;
}
.fast-link a:hover{
  color: #F29220;
}
/*  */
.top-nav{
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.top-nav form{
  position: relative;
  padding: 0;
  margin: 0;
}
.top-nav form .input{
  width: 250px;
  height: 40px;
  border: 1px solid #D1D1DB;
  padding: 0 35px 0 0;
  background-color: #fff;
  border-radius: 8px;
  outline: none;
}
.top-nav form .s{
  width: 20px;
  height: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background-color: initial;
  background-image: url("../images/s.svg");
  background-size: 100% 100%;
}
.top-nav .iconstop{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.top-nav .iconstop a{
    background-repeat: no-repeat;
    background-position: right 7px center;
    width: 90px;
    display: flex;
    border: 1px solid #E5EAF0;
    height: 40px;
    margin: 0 5px;
    align-items: center;
    justify-content: center;
    padding: 0 30px 0 0;
    border-radius: 8px;
    color: #374151;
}
.top-nav .iconstop a:hover{
  background-color: #F29220;
  border-color: #F29220;
  color: #fff;
}
.top-nav .iconstop a.copy{
  background-image: url("../images/copy.svg");
}
.top-nav .iconstop a.export{
  background-image: url("../images/export.svg");

}
.top-nav .iconstop a.print{
  background-image: url("../images/print.svg");

}
/*  */
.data-table{
  width: 100%;
  direction: rtl;
  margin: 25px 0 0;
}
.data-table thead{
  background-color: #F9F9FC;
  background-image: url("../images/arrow.svg");
  background-repeat: no-repeat;
  background-position: right 10px center;
  padding: 10px 30px 10px 10px;
  color: #5C5E8A;
  font-size: 12px;
  font-weight: 500;
  border-radius: 15px;
  overflow: hidden;
}
.data-table thead th{
    background-color: #F9F9FC;
  background-image: url("../images/arrow.svg");
  background-repeat: no-repeat;
  background-position: right 10px center;
  padding: 10px 30px 10px 10px;
  color: #5C5E8A;
  font-size: 12px;
  font-weight: 500;
  height: 60px;
}
.data-table tbody td{
  background-color: #fff;
  padding: 10px 10px;
  color: #5C5E8A;
  font-size: 12px;
  font-weight: 500;
  height: 56px;
  text-align: center;
}
.pagination{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0 0;
}
.pagination{
  list-style: none;
  margin: 10px 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}
.pagination li{
  padding: 0 4px !important;
  margin: 0 !important;
}
.pagination a{
  display: flex;
  width: 32px;
  height: 32px;
  border-radius: 5px;
  background-color: #F2F2FB;
  font-size: 14px;
  font-weight: 600;
  margin: 0;
  color: #374151;
  text-decoration: none;
  outline: none;
  padding: 0;
  align-items: center;
  justify-content: center;
}
.pagination a:hover,
.pagination .active a{
  color: #fff;
  background: #F29220 !important;
  border-color: #F29220 !important;
}

/*  */
.home-icons{
    display: flex;
    flex-wrap: wrap;
    padding: 50px 10px;
    justify-content: center;
    align-items: flex-end;
    margin: 0 auto;
    max-width: 1040px;
    width: 100%;
}
.home-icons  .hex {
  width: 350px;
  height: 350px;        /* عرض الشكل */
  aspect-ratio: 1.154;  /* يحافظ على أبعاد السداسي */
  /* background: linear-gradient(135deg, #e98c19, #d87514); */
transition: all 0.5s ease 0s;
  background: linear-gradient(135deg, #fff, #fff);
  clip-path: polygon(
    50% 0%,
    93% 25%,
    93% 75%,
    50% 100%,
    7% 75%,
    7% 25%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px; /* مساحة داخلية للمحتوى */
  color: #181A3B;   /* لون الخط */
  text-align: center;
  border-radius: 14px; /* يدي نعومة بسيطة زي الصورة */
  margin: -10px;
}

.home-icons  .hex:hover {
  background: linear-gradient(135deg, #e98c19, #d87514);
  transition: all 0.5s ease 0s;
  color: #fff;
}
.home-icons .hex:nth-child(4),
.home-icons .hex:nth-child(5)
{
  margin-top: -53px !important;
}

/* المحتوى */
.hex-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hex-content .icon{
  width: 100px;
  height: 100px;
  background-image: url("../images/icon.svg");
  background-size: 100% 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0 0 20px;
}
.hex-content .icon img{
  width: 40px;
  height: auto;
}
.hex-content h3{
  font-size: 19px;
  font-weight: 700;
  margin: 0;
}



/**********************************************************/

@media (max-width: 769px) {}

/*
background-color: rgba(80,104,140,0.5);
transition: all 0.5s ease 0s;
transform: scale(1.2);

*/